/* fonts */

/* Poppins */

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
}

/* Poppins */


/* NovitoNova */

@font-face {
    font-family: NovitoNova;
    src: url(../fonts/NovitoNova/NovitoNova-Thin.otf);
    font-weight: 300;
}

@font-face {
    font-family: NovitoNova;
    src: url(../fonts/NovitoNova/NovitoNova-Regular.otf);
    font-weight: 400;
}

/* NovitoNova */

/* fonts */


/* zeroing */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all .5s;
    text-decoration: none;
    list-style: none;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

button,
a,
input[type='submit'] {
    outline: none;
    cursor: pointer;
}

/* zeroing */